<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

		<context:component-scan  base-package="com.javatpoint" />

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/sindhu?serverTimezone=PST&amp;useLegacyDatetimeCode=false;"></property>
		<property name="username" value="root"></property>
		<property name="password" value="password1"></property>
	</bean>

	<bean id="mysessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>

		<property name="mappingResources">
			<list>
				<value>admin.hbm.xml</value>
				<value>accountant.hbm.xml</value>
				<value>student.hbm.xml</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>

			</props>
		</property>
	</bean>
<bean id="adminBean" scope="prototype" class="com.javatpoint.beans.AdminBean"> 
</bean>

<bean id="adminDao" scope="prototype" class="com.javatpoint.dao.spring.AdminDao"> 
</bean>
<bean id="accountantBean" scope="prototype" class="com.javatpoint.beans.AccountantBean"> 
</bean>
<bean id="accountantDao" scope="prototype" class="com.javatpoint.dao.spring.AccountantDao"> 
</bean>
<bean id="studentBean" scope="prototype" class="com.javatpoint.beans.StudentBean"> 
</bean>
<bean id="studentDao" scope="prototype" class="com.javatpoint.dao.spring.StudentDao"> 
</bean>
</beans>  